.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.navbar .logo{
    height: 80px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

.navbar .profile{
    width:50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}