@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

a{
  text-decoration: none;
  color: inherit;
}

hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .sidebar {
  width: 18%;
  min-height: 100vh;
  border-right: 1.5px solid #a9a9a9;
} */

.app-page {
  flex: 1;
  padding: 40px;
  background-color: #fff;
  overflow-y: auto;
}